      <div id="cookie-footer">
        <p class="white-text cookie-text">By clicking the "Accept" button below you agree to us storing your added location searches as cookies.</p>
        <p class="white-text cookie-text">This information will only be used to save your "My Locations" searches.</p>
        <button id="cookie-accept-btn" class="btn btn-success btn-sm" type="button">Accept</button>
        <button id="cookie-deny-btn" class="btn btn-danger btn-sm" type="button">Deny</button>
      </div>